/*
	Chris R Jones
	URL: www.chrisrjones.com
*/

/*-------------------------------------*\
	Responsive Navigation
\*-------------------------------------*/

/* color scheme colors
primary / background rgb 222 173 26
light brown rgb 127 99 15
light yellow 255 199 30
dark brown 64 50 7
medium yello 229 179 27
*/

body {
	background-image:url('../media/pics/beer_bg08.jpg');
	font-size: 100%; /* base font-size of 16px */
}
a,
a:hover {
	text-decoration:none;
}
ul,
ol {
	list-style:none;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
.main {
	width:100%;
	margin:50px 0;
	text-align:center;
}
.content {
	text-align:left;
	margin:25px 0;
	font-family: 'Roboto Slab', serif;
}
.content-text {
	margin:0 0 15px;
	font-size: 1em; /* 16 / 16 */
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color:rgb(64,50,7);
	font-size: 3em; /* 48 / 16 */
  	line-height: 1em; /* 48 / 48 */
  	margin-bottom: .5em; /* 24 / 48 */
}

h2 {
	font-family: 'Roboto Slab', serif;
	color:rgb(64,50,7);
	text-align:center;
	font-size: 2.25em; /* 36 / 16 */
  	line-height: 1.333333333333333em; /* 48 / 36 */
  	margin-bottom: .6666666666666667em; /* 24 / 36 */
}
h3 {
  font-size: 1.5em; /* 24 / 16 */
  line-height: 1em; /* 24 / 24 */
  margin-bottom: 1em; /* 24 / 24 */
}
h4 {
  font-size: 1.3125em; /* 21 / 16 */
  line-height: 1.142857142857143em; /* 24 / 21 */
  margin-bottom: 1.142857142857143em; /* 24 / 21 */
}
h5 {
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333333333333333em; /* 24 / 18 */
  margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h6 {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  margin-bottom: 1.5em; /* 24 / 16 */
}
p {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  margin-bottom: 1.5em; /* 24 / 16 */
}

footer {
	margin: auto;
	width: 960px;
	text-align:center;
	font-family: 'Roboto Slab', serif;
	color:rgb(64,50,7);
}

/* Styling for links */
a:link 
{
	/* unvisited link */
	font-family: 'Roboto Slab', serif;
	color:rgb(64,50,7);
	text-decoration:none;
	
}
a:visited
{
	/* visited link */
	font-family: 'Roboto Slab', serif;
	color:rgb(64,50,7);
}
a:hover
{
	/* mouse over link */
	color:rgb(127,99,15);
}
a:active
{
	/* selected link */
}



/* color scheme colors
primary / background rgb 222 173 26
light brown rgb 127 99 15
light yellow 255 199 30
dark brown 64 50 7
medium yello 229 179 27
*/

/* Navigation styling */
.nav {
	position:relative;
	display:inline-block;
	font-size:14px;
	font-weight:900;
}
.nav-list {
	
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
}
.nav-item a {
	display:block;
	padding:15px 20px;
	color:rgb(255,199,30);
	background:rgb(64,50,7);
	
	-webkit-transition: background 1s;
       -moz-transition: background 1s;
        -ms-transition: background 1s;
         -o-transition: background 1s;
            transition: background 1s;
}
.nav-item:first-child a {
	border-radius:5px 0 0 5px;
}
.nav-item:last-child a {
	border-radius:0 5px 5px 0;
}
.nav-item a:hover {
	background:rgb(127,99,15);
}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:rgb(64,50,7) url(../media/pics/nav.svg) no-repeat center center;
	height:40px;
	width:40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:40px 0 0;
		
	}
	.nav-list {
		display:none;
		
	}
	.nav-item {
		width:100%;
		float:none;
		
	}
	.nav-item a {
		background:rgb(60,50,7);
		padding:10px;
		
		-webkit-transition: background 1s;
       -moz-transition: background 1s;
        -ms-transition: background 1s;
         -o-transition: background 1s;
            transition: background 1s;
		
	}
	.nav-item:first-child a {
		border-radius:5px 0 0;
	}
	.nav-item:last-child a {
		border-radius:0 0 5px 5px;
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px {
	
	p {
		font-size:3em;
	}
}